body {
    margin: 0;
    padding: 16px;
    font-family: "Montserrat_Regular";
    font-style: normal;
    background-color: rgb(233, 229, 229);
    ul {
        padding: 0;
        margin: 0;
        li {
            list-style: none;
        }
    }
    a {
        text-decoration: none;
    }
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
}

@media(min-width: 720px) {
    body {
        padding: 0;
        padding-top: 16px;
        max-width: 95%;
        margin: auto;
    }
}
@media(min-width: 900px) {
    body {
        max-width: 75%;
        margin: auto;
    }
}