.demo_section {
    .buttons_lists {
        padding: 16px;
        box-shadow: 0px 0px 4px black;
        margin-bottom: 20px;
        h2 {
            padding-top: 16px;
            padding-bottom: 20px;
            font-size: 24px;
            line-height: 12px;
        }
        p {
            
        }
        .projects_options {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding-top: 20px;
            max-width: 350px;
            margin-right: auto;
            li {
                padding-bottom: 10px;
            }
            button {
                border: 0;
                line-height: 2.5;
                padding: 0 10px;
                font-size: 1rem;
                text-transform: uppercase;
                text-align: center;
                cursor: pointer;
                outline: none;
                color: #fff;
                text-shadow: 1px 1px 1px #000;
                border-radius: 10px;
                background-color: red;
                background-image: linear-gradient(to top left,
                rgba(0, 0, 0, .2),
                rgba(0, 0, 0, .2) 30%,
                rgba(0, 0, 0, 0));
                box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                            inset -2px -2px 3px rgba(0, 0, 0, .6);
            }
        }
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        .container {
            padding: 16px;
            margin-bottom: 20px;
            max-width: 200px;
            border-radius: 12px;
            border: 1px solid blue;
            img {
                margin-right: 20px;
                border-radius: 10px;
                max-width: 100%;
            }
            .three_basics {
                padding: 10px 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                max-width: 300px;
                justify-content: space-between;
                li {
                    a {
                        font-size: 12px;
                        font-weight: 700;
                    }
                }
                li:not(:last-of-type) {
                    padding-right: 16px;
                }
            }
            h3 {
                padding-top: 0;
                padding-bottom: 5px;
            }
            p {
                font-size: 12px;
                padding-bottom: 5px;
            }
            .buttons_container {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
            button {
                background: white;
                border-radius: 8px;
                padding: 8px;
                text-transform: uppercase;
                text-align: center;
                cursor: pointer;
                outline: none;
                border: 1px solid blue;
                a {
                    color: blue;
                }
            }
            button:hover {
                background: blue;
                a {
                    color: white;
                }
            }
        }
        .container:not(:last-of-type) {
            margin-right: 20px;
        }
    }
    .wrapper::-webkit-scrollbar {
        display: none;
      }
}