@font-face {
  font-family: "Montserrat_Regular";
  src: local(Montserrat_Regular), 
  url(/fonts/Montserrat_Regular.woff2) format("woff2"), 
  url(/fonts/Montserrat_Regular.woff) format("woff"), 
}
@font-face {
  font-family: "Montserrat_SemiBold";
  src: local(Montserrat_SemiBold), 
  url(/fonts/Montserrat_SemiBold.woff2) format("woff2"), 
  url(/fonts/Montserrat_SemiBold.woff) format("woff"), 
}
@font-face {
  font-family: "Montserrat_Bold";
  src: local(Montserrat_Bold), 
  url(/fonts/Montserrat_Bold.woff2) format("woff2"), 
  url(/fonts/Montserrat_Bold.woff) format("woff"), 
}

@font-face {
  font-family: "Lato_bold";
  src: local(Lato), 
  url(/fonts/Lato-Bold.woff2) format("woff2"), 
  url(/fonts/Lato-Bold.woff) format("woff"), 
}

@font-face {
  font-family: "Lato";
  src: local(Lato), 
  url(/fonts/Lato-Regular.woff2) format("woff2"), 
  url(/fonts/Lato-Regular.woff) format("woff"), 
}
