footer {
    background: rgba(67, 76, 204, 0.05);
    padding: 0 16px;
    .footer_container {
        h3 {
            font-size: 20px;
            line-height: 32px;
            color: #000000;
            padding-top: 30px;
            padding-bottom: 20px;
        }
        p {
            padding-bottom: 20px;
            font-size: 18px;
            line-height: 32px;
            max-width: 400px;
            margin-right: auto;
        }
        .wrapper_footer {
            padding-bottom: 15px;
            .footer_email--link {
                font-size: 20px;
                font-weight: 700;
            }
        }
        .last_footer_items {
            padding-top: 20px;
            border-top: 1px solid rgba(67, 76, 204);
            max-width: 300px;
            margin: auto;
            padding-bottom: 20px;
        }
    }
}
@media(min-width: 720px) {
    footer {
        padding: 0;
        .footer_container {
            max-width: 1080px;
            margin: auto;
            h3 {
                font-size: 24px;
                line-height: 32px;
                color: #000000;
                padding-top: 30px;
                padding-bottom: 20px;
            }
        }
    }
}