body {
    .main {
        .masthead_container {
            background-color: #FFFFFF;
            border-radius: 12px;
            padding: 16px;
            max-width: 400px;
            margin: auto;
            margin-bottom: 40px;
            box-shadow: 0px 0px 4px black;
            .masthead_profile {
                padding-bottom: 20px;
                img {
                    max-width: 100%;
                    border-radius: 12px;
                    cursor: pointer;
                }
            }
            .personal_details {
                .personal_description {
                    padding-bottom: 20px;
                    li:first-of-type {
                        h2 {
                            font-family: "Montserrat_SemiBold";
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 29px;
                            color: #4F4F4F;
                            padding-bottom: 6px;
                        }
                    }
                    li:last-of-type {
                        p {
                            font-family: "Montserrat_Regular";
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 22px;
                            color: #828282;
                        }
                    }
                }
                .personal_contact {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #4F4F4F;
                    padding-bottom: 20px;
                    .email_contact {
                        padding-bottom: 6px;
                        a {
                            padding-bottom: 10px;
                            font-family: "Montserrat_SemiBold";
                            font-style: normal;
                            font-weight: 600;
                            font-size: 18px;
                            line-height: 22px;
                            color: orange;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            flex-wrap: wrap;
                            svg {
                                padding-right: 20px;
                            }
                        }
                        a:hover {
                            color: blue;
                            font-weight: 600;
                            svg {
                                fill: blue;
                            }
                        }
                    }
                    .phonenumber_contact {
                        p {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            flex-wrap: wrap;
                            svg {
                                padding-right: 20px;
                            }
                        }
                        p:hover {
                            svg {
                                fill: blue;
                            }
                        }
                    }
                }
            }
            .personal_motivation {
                p {
                    font-family: "Montserrat_Regular";
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #828282;
                    max-width: 550px;
                }
            }
        }
    }
}

@media(min-width: 650px) {
    body {
            .main {
            .masthead_container {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                max-width: 100%;
                .masthead_profile {
                    margin-right: 10%;
                    padding-bottom: 20px;
                    img {
                        max-width: 180px;
                    }
                }
                .personal_details {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: space-between;
                    .personal_description {
                        padding-bottom: 40px;
                        li:first-of-type {
                            h2 {
                                padding-bottom: 6px;
                            }
                        }
                        li:last-of-type {
                            p {
                                color: #828282;
                            }
                        }
                    }
                    .personal_contact {
                        padding-bottom: 20px;
                        .email_contact {
                            a {
                                padding-bottom: 10px;
                            }
                        }
                        // .phonenumber_contact {
                        //     p {
                                
                        //     }
                        // }
                    }
                }
                .personal_motivation {
                    p {
                        max-width: 100%;
                    }
                }
            }
        }
    }
}